body{
	margin:0px;
	padding:0px;
	text-align:justify;
	font-size:12px;
	background:url(images/img01.jpg) repeat-x;	
}

header{
	margin:20px auto 0px auto;
	height:71px;
	width:900px;
}

#headerbg{
	border:green solid 1px;
	height:209px;
	width:900px;
	margin:0 auto;
	background:url(images/img05.jpg);
}

#headerbg p.text_1{
		color:white;
		font-size:30px;
		font-style:italic;
		margin-left:15px;
		padding:90px 20px 0px 30px;
}

#main , #sidebar{
	display:table;
	width:900px;
	margin:0 auto;
}

#main{
	background:#F4F4F4;
	color:#3D3D3D;
}

.tableRow{
	display:table-row;
}

footer{
	width:900px;
	height:50px;
	margin:0 auto;
	background:url(images/img06.jpg);
}

#logo{
	float:left;	
}

#logo h1{
	float:left;
	background:url(images/img04.jpg) no-repeat left top;
	height:45px;
	padding-left:60px;
	font-size:250%;
	margin-top:20px;
}

#logo p{
	float:left;	
	margin-top:40px;
	font-size:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#menu{
	float:right;
}

#menu ul{
	margin:0px;
	list-style:none;
}

#menu li{
	display:inline;	
}

#menu a{
	display:block;
	padding: 30px 20px 0 20px;
	float:left;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	font-size:117%;
	color:#4E4E4E;
	text-transform:uppercase;
	font-family: Arial, Helvetica, sans-serif;
}

#menu a:hover{
	background:url(images/img03.jpg) no-repeat center top;
}

#latest-post{
	width:500px;
	display:table-cell;
	padding-left:30px;
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:#3D3D3D dashed 1px;
}

#latest-post a{
	color:#000;
	text-decoration:none;
}

blockquote{
	background: url(images/img08.jpg) no-repeat left top;
	padding-left:30px;
	font-style:italic;
	font-size:130%;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#recent-post{
	width:350px;
	display:table-cell;
	padding-left:55px;
	padding-right:30px;
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:#3D3D3D dashed 1px;
}

#recent-post .concert a{
	background: #333;
	text-decoration:none;
	color:#CCC;
	padding:5px 10px;
}

.special{
	padding:20px 40px;
}

.special ul{
	list-style:none;
	margin:0px;
	padding:0px;
	line-height:1.8em;
}

.special li{
	background:url(images/img07.gif) no-repeat left;
	padding-left:10px;
}

.special h3{
	color:FFF;
}

.special a{
	color:#CCC;
	text-decoration:none;
}

aside#sidebar  ul li.special{
	display:table-cell;
	width:200px;
}

aside{
	width:900px;
	margin:0px auto;
	background:#000;
}


footer p{
	float:left;
}

footer p.link{
	position:absolute;
	right:230px;
	margin-top:15px;
	color:#FFF;
}

footer .link a{
	text-decoration:none;
	color:#FFF;
}

footer p.legal{
	margin-left:30px;
	margin-top:15px;
	color:#FFF;
}